.page-general {
	.generic-page {
		ul {
				display: block;
				padding: 0 1em;
				font-size: 1.2em;
				font-family: $bold;
				a {
					color: $dark;
					&:hover {
						color: $bright;
					}
				}
			}
		}
	}


.standard-content {
	background-color: $body;
	margin: 1em 0;
	.content-inner {
		padding: 1em;
		.standard-inner {
			h1{
				margin: 1em auto;
				font-family: $bold;
				border-bottom: 1px solid $dark;
				color: $dark;
			}
			.gallery {
				dl.gallery-item {
					float: left;
					.wp-caption-text.gallery-caption {
						display: none;
					}
					dt.gallery-icon.landscape,
					dt.gallery-icon.portrait{
						float: left;
						opacity: 0.7;
						padding: 0.3em;
						&:hover {
							opacity: 1;
						}
						img {
						outline: 1px solid $paper;
		  				outline-offset: -4px;
						}
					}
				}
			}
		}
	}
}
